fastapi
uvicorn
sqlalchemy
databases
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiohttp
python-dotenv
socketio
python-socketio
requests
google-generativeai
pillow
qrcode[pil]
email-validator   
razorpay       